// todo: disabled button styles
button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}
.ccol{
  padding:0px !important;
  //margin: 0px !important;
  }

  .ccol .card-body{
    padding:2px !important;
    //margin: 2px !important;
    //height: 50% !important;
  }

.redim {
  width: 100%;
  height: 50%;
  //align-content: center;
  /*padding-top: "100px";
  margin-top: "100px";   
  zoom: 40%;*/
}

.service {

  margin-top: 10 !important;
  

}

@media  screen and (max-width:450px) {

  .smallh2{
    zoom:0.5;
  }
  
}

.fournisseur {
  margin-top: 28rem;
}

.pt-5, .py-5 {
  padding: 0rem 0rem !important;
  margin: 0rem 0rem !important;
}
